<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' http://localhost:8080">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div 
        class="w-full max-w-[800px] h-full max-h-[600px] bg-[#202021] rounded-2xl shadow-xl overflow-auto flex flex-col">

        <!-- Header -->
        <div class="flex items-center justify-between px-6 py-4 border-b border-gray-700">
            <h2 id="header" class="text-xl font-semibold text-gray-100">👋 ¡Te damos la bienvenida a BlackVault!</h2>
            <button type="button" id="close-modal"
                class="bg-opacity-60 bg-gray-700 bg-opacity-60 p-2 rounded-full focus:outline-none focus:ring-accentOrange/50 focus:border-accentOrange hover:bg-gray-600">
                <img class="w-7 h-7 text-gray-200 transition duration-75 group-hover:text-white transform rotate-45"
                    src="../resources/actions/add.webp">
            </button>
        </div>

        <div class="mb-6">
            <p class="text-gray-300 leading-relaxed">
                BlackVault es tu gestor de credenciales seguro. Guarda, organiza y accede a tus contraseñas de forma
                confiable. Todo cifrado de extremo a extremo, bajo tu control. </p>
        </div>

    </div>
    <script type="module" src="../../renderers/welcomeRenderer.js"></script>
</body>

</html>