<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' http://localhost:8080">
    <link href="../css/style.css" rel="stylesheet">
</head>
<!-- Por trabajar visual -->
<body class="flex-col items-center justify-center min-h-screen bg-[#202120] p-4 ">
    <div id="dropdownContainer" class="relative inline-block group">
        <button type="button" class="text-white bg-[#F97316] hover:bg-[#EA580C] focus:ring-4 focus:outline-none focus:ring-orange-500 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center mb-4">
            <img class="w-7 h-7 text-gray-200 transition duration-75 group-hover:text-white mr-2 "
                src="../../resources/actions/add.webp" />
            Agregar
        </button>

        <div id="dropdownHover"
            class="hidden absolute top-full left-0 mt-2 w-44 divide-y divide-gray-100 rounded-lg shadow bg-[#272726] z-10">
            <ul class="py-2 text-sm text-gray-200">
                <li>
                    <a href="#" id="addCredential"
                        class="block px-4 py-2 hover:bg-gray-600">
                        Credencial
                    </a>
                </li>
                <li>
                    <a href="#" id="addFolder"
                        class="block px-4 py-2 hover:bg-gray-600 dark:hover:text-white">
                        Carpeta
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex w-full h-[calc(100vh-4rem)] space-x-4 ">
        <div id="foldersContainer" class="mb-4 py-5 flex-none w-1/4 bg-[#131413] border border-gray-700 p-4 flex flex-col space-y-2 overflow-y-auto rounded-lg">
            <button class="flex items-center justify-between p-2 bg-gray-100 hover:bg-gray-200 
                     rounded-md text-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-200">
                <span>Mi Carpeta</span>
            </button>
        </div>

        <div id="accordion-container" class="flex-1 space-y-6 overflow-y-auto">
        </div>
    </div>
    <template>
        <div
            class="accordion-item p-5 bg-[#131413] shadow-md rounded-lg transition-shadow hover:shadow-lg">
            <h2 id="accordion-heading-${id}">
                <button type="button" class="flex items-center justify-between w-full p-5 text-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-colors gap-5"
                    data-accordion-target="#accordion-body-${id}" aria-expanded="false"
                    aria-controls="accordion-body-${id}">
                    <span id="entry_name"></span>
                    <svg data-accordion-icon class="w-3 h-3 shrink-0 transition-transform transform rotate-0"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 5 5 1 1 5" />
                    </svg>
                </button>
            </h2>
            <div id="accordion-body-" class="hidden bg-gray-900 p-5" aria-labelledby="accordion-heading-">
                <div class="flex flex-col gap-4">
                    <!-- Username -->
                    <div class="flex items-center">
                        <span
                            class="shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center border rounded-s-lg text-white border-gray-600">Usuario</span>
                        <div class="relative w-full">
                            <input id="website-url" type="text" aria-describedby="helper-text-explanation"
                                class=" border border-e-0 text-gray-400 text-sm border-s-0 block w-full p-2.5 border-gray-600 placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500"
                                readonly disabled />
                        </div>
                        <button data-tooltip-target="tooltip-website-url" data-copy-to-clipboard-target="website-url"
                            class="shrink-0 z-10 inline-flex items-center py-3 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-e-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 border border-blue-700 dark:border-blue-600 hover:border-blue-800 dark:hover:border-blue-700"
                            type="button">
                            <span id="default-icon">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 18 20">
                                    <path
                                        d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z" />
                                </svg>
                            </span>
                            <span id="success-icon" class="hidden">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                                </svg>
                            </span>
                        </button>
                        <div id="tooltip-website-url" role="tooltip"
                            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                            <span id="default-tooltip-message">Copy link</span>
                            <span id="success-tooltip-message" class="hidden">Copied!</span>
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="flex items-center">
                        <span
                            class="shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900  border border-gray-300 rounded-s-lg dark:text-white dark:border-gray-600">Contraseña</span>
                        <div class="relative w-full">
                            <input id="website-url" type="password" aria-describedby="helper-text-explanation"
                                class=" border border-e-0 border-gray-300 text-gray-500 dark:text-gray-400 text-sm border-s-0 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                readonly disabled />
                        </div>
                        <button data-tooltip-target="tooltip-website-url" data-copy-to-clipboard-target="website-url"
                            class="shrink-0 z-10 inline-flex items-center py-3 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-e-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 border border-blue-700 dark:border-blue-600 hover:border-blue-800 dark:hover:border-blue-700"
                            type="button">
                            <span id="default-icon">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 18 20">
                                    <path
                                        d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z" />
                                </svg>
                            </span>
                            <span id="success-icon" class="hidden">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                                </svg>
                            </span>
                        </button>
                        <div id="tooltip-website-url" role="tooltip"
                            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                            <span id="default-tooltip-message">Copy link</span>
                            <span id="success-tooltip-message">Copied!</span>
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                    <!-- URL -->
                    <div class="flex items-center text-gray-500 dark:text-gray-400">
                        <span
                            class="shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900  border border-gray-300 rounded-s-lg dark:text-white dark:border-gray-600">URL</span>
                        <div class="relative w-full">
                            <input id="website-url" type="text" aria-describedby="helper-text-explanation"
                                class=" border border-e-0 border-gray-300 text-gray-500 dark:text-gray-400 text-sm border-s-0 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                value="https://flowbite.com" readonly disabled />
                        </div>
                        <button data-tooltip-target="tooltip-website-url" data-copy-to-clipboard-target="website-url"
                            class="shrink-0 z-10 inline-flex items-center py-3 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-e-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 border border-blue-700 dark:border-blue-600 hover:border-blue-800 dark:hover:border-blue-700"
                            type="button">
                            <span id="default-icon">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 18 20">
                                    <path
                                        d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z" />
                                </svg>
                            </span>
                            <span id="success-icon" class="hidden">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 16 12">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5" />
                                </svg>
                            </span>
                        </button>
                        <div id="tooltip-website-url" role="tooltip"
                            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
                            <span id="default-tooltip-message">Copy link</span>
                            <span id="success-tooltip-message" class="hidden">Copied!</span>
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                    <!-- Botones Editar / Eliminar -->
                    <div class="flex justify-end gap-2 w-full">
                        <button type="button" id="editCredential" class="px-4 py-2 border font-medium rounded-lg focus:ring-2 focus:outline-none border-green-500 text-green-400 hover:bg-gray-700 focus:ring-green-600">
                            Editar
                        </button>
                        
                        </button>
                        <button type="button" id="deleteCredential"
                            class="px-4 py-2 border font-medium rounded-lg focus:ring-2 focus:outline-none border-red-500 text-red-400 hover:bg-gray-700 focus:ring-red-600">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script type="module" src="../../renderers/vaultRenderer.js"></script>
</body>

</html>