<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' http://localhost:8080">
    <link href="../css/style.css" rel="stylesheet">
    <script defer src="../../renderers/vaultRenderer.js"></script>
</head>

<body class="flex-col items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900 p-4">
    <div id="accordion-container"></div>
    <script type="module" src="../../renderers/vaultRenderer.js"></script>
</body>

</html>
