<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="
          default-src 'self';
          style-src   'self' https://rsms.me;
          font-src    'self' https://rsms.me;
          connect-src 'self' http://localhost:8080;
        ">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
  <!-- Modal Form -->
  <form id="credential-form"
    class="w-full max-w-[800px] h-full max-h-[600px] bg-[#202021] rounded-2xl shadow-xl overflow-auto flex flex-col">

    <!-- Header -->
    <div class="flex items-center justify-between px-6 py-4 border-b border-gray-700">
      <h2 id="header" class="text-xl font-semibold text-gray-100">Agregar credencial</h2>
      <button type="button" id="close-modal"
        class="bg-opacity-60 bg-gray-700 bg-opacity-60 p-2 rounded-full focus:outline-none focus:ring-accentOrange/50 focus:border-accentOrange hover:bg-gray-600">
        <img class="w-7 h-7 text-gray-200 transition duration-75 group-hover:text-white transform rotate-45"
          src="../../resources/actions/add.webp">
      </button>
    </div>

    <div class="p-6 flex-1 grid grid-cols-1 md:grid-cols-2 gap-6">

      <!-- Credencial Name -->
      <div>
        <label for="credential-name" class="block mb-2 text-sm font-medium text-gray-300">Nombre de la
          credencial</label>
        <input type="text" id="inputCredential" name="credentialName" max="40"
          class="w-full p-3 rounded-lg bg-gray-700 border-gray-600 text-gray-100"
          placeholder="e.g. Banco, Gmail, GitHub…" required />
      </div>

      <!-- Folder Selector -->
      <div>
        <label for="folder" class="block mb-2 text-sm font-medium text-gray-300">Carpeta</label>
        <select id="inputFolder" name="folder" class="w-full p-3 rounded-lg bg-gray-700 border-gray-600 text-gray-100"
          required>
          <option value="">Ninguna</option>
        </select>
      </div>

      <!-- Username -->
      <div>
        <label for="username" class="block mb-2 text-sm font-medium text-gray-300">Nombre de usuario</label>
        <input type="text" id="inputUsername" name="username" max="40"
          class="w-full p-3 border border-gray-600 rounded-lg bg-gray-700 text-gray-100"
          placeholder="usuario@ejemplo.com" required />
      </div>

      <!-- Password -->
      <div>
        <label for="password" class="block mb-2 text-sm font-medium text-gray-300">Contraseña</label>
        <div class="flex items-stretch">
          <!-- Eye button -->
          <button type="button" id="toggleVisibility"
            class="inline-flex items-center py-3 px-4 text-sm font-medium text-gray-400 hover:text-gray-700 hover:text-gray-300 bg-gray-700 hover:bg-gray-600 border border-gray-600 rounded-s-lg transition-colors">
            <!-- Icono eye closed-->
            <svg id="eyeClosed" class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 14c-.5-.6-.9-1.3-1-2 0-1 4-6 9-6m5.4 3.4A5 5 0 0 1 21 12c0 1-3 6-9 6h-1m-6 1L19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <!-- Icon eye open -->
            <svg id="eyeOpen" class="w-4 h-4 hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-width="2"
                d="M21 12c0 1.2-4 6-9 6s-9-4.8-9-6c0-1.2 4-6 9-6s9 4.8 9 6Z" />
              <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
          </button>

          <!-- Input -->
          <input type="password" id="inputPassword" name="password" maxlength="40"
            class="flex-1 p-3 bg-gray-700 text-gray-100 border-y border-gray-600 focus:ring-1 focus:ring-accentOrange/50 focus:border-accentOrange" />

          <!-- Random button -->
          <button type="button" id="generatePassword" class="inline-flex items-center py-3 px-4 text-sm font-medium text-white
                 bg-[#F97316] border border-[#F97316] hover:bg-[#EA580C] hover:border-[#EA580C]
                 focus:ring-4 focus:outline-none focus:ring-orange-300
                 rounded-e-lg shadow-md transition-colors">
            <img src="../../resources/actions/random.webp" class="w-5 h-5">
          </button>
        </div>
      </div>

      <!-- URL -->
      <div>
        <label for="url" class="block mb-2 text-sm font-medium text-gray-300">URL</label>
        <input id="inputUrl" name="url" max="40"
          class="w-full p-3 border border-gray-600 rounded-lg bg-gray-700 text-gray-100"
          placeholder="https://www.ejemplo.com" />
      </div>

    </div>

    <!-- Footer -->
    <div class="px-6 py-4 border-t border-gray-700">
      <button id="sendCredential" type="button" class="w-full py-3 text-white bg-[#F97316] hover:bg-[#EA580C]
               focus:ring-4 focus:outline-none focus:ring-orange-500
               font-medium rounded-lg shadow-md transition-colors">
        Guardar
      </button>
    </div>
  </form>

  <script type="module" src="../../renderers/credentialRenderer.js"></script>
</body>

</html>