<!DOCTYPE html>
<html lang="es" class="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' http://localhost:8080" />
  <title>Generar Contraseña</title>
  <link href="../css/style.css" rel="stylesheet" />
</head>

<body m-0 p-0 w-full h-full bg-transparent>
  <!-- Modal Form -->
  <form id="password-form"
    class="w-full max-w-[800px] h-full max-h-[600px] bg-white dark:bg-gray-800 rounded-2xl shadow-xl overflow-auto flex flex-col mx-auto mt-10">

    <!-- Header -->
    <div class="flex items-center justify-between px-6 py-4 border-b border-gray-200 dark:border-gray-700">
      <h2 id="header" class="text-xl font-semibold text-gray-800 dark:text-gray-100">Generar contraseña</h2>
      <button type="button" id="close-modal"
        class="bg-white bg-opacity-60 dark:bg-gray-700 dark:bg-opacity-60 p-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-500 hover:text-gray-700 dark:text-gray-100 dark:hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <!-- Content -->
    <div class="p-6 flex-1 grid grid-cols-1 w-full">
      <!-- Password Field -->
      <div class="col-span-2">
        <label for="inputPassword"
          class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Contraseña</label>
        <div class="flex items-center">
          <input type="text" id="inputPassword" name="password" maxlength="40" disabled
            class="flex-1 p-3 border border-e-0 border-gray-300 rounded-s-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 text-gray-900 dark:text-gray-100" />
          <button type="button"
            class="h-full inline-flex items-center py-4 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-e-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 border border-blue-700 dark:border-blue-600 hover:border-blue-800 dark:hover:border-blue-700">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              viewBox="0 0 18 20">
              <path
                d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z" />
            </svg>
          </button>
        </div>
      </div>


      <div class="relative mb-6">
        <label for="labels-range-input" class="sr-only">Rango</label>
        <input id="labels-range-input" type="range" value="12" min="8" max="40"
          class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
        <span class="text-sm text-gray-500 dark:text-gray-400 absolute start-0 -bottom-6">8</span>
        <span class="text-sm text-gray-500 dark:text-gray-400 absolute end-0 -bottom-6">40</span>
      </div>

      <!-- Options -->
      <ul class="col-span-2 grid w-full gap-6 md:grid-cols-3 items-stretch">
        <!-- Basic option -->
        <li class="h-full">
          <input type="radio"id="basicOption" name="passwordType" value="basic" class="hidden peer" />
          <label for="basicOption"
            class="inline-flex items-center justify-between w-full p-5 h-full text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 peer-checked:text-gray-600 peer-checked:dark:text-gray-300">
            <div>
              <!-- SVG Icon -->
              <svg class="mb-2 w-7 h-7 text-sky-500" fill="currentColor" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M418.2 177.2c-5.4-1.8-10.8-3.5-16.2-5.1.9-3.7 1.7-7.4 2.5-11.1 12.3-59.6 4.2-107.5-23.1-123.3-26.3-15.1-69.2.6-112.6 38.4-4.3 3.7-8.5 7.6-12.5 11.5-2.7-2.6-5.5-5.2-8.3-7.7-45.5-40.4-91.1-57.4-118.4-41.5-26.2 15.2-34 60.3-23 116.7 1.1 5.6 2.3 11.1 3.7 16.7-6.4 1.8-12.7 3.8-18.6 5.9C38.3 196.2 0 225.4 0 255.6c0 31.2 40.8 62.5 96.3 81.5 4.5 1.5 9 3 13.6 4.3-1.5 6-2.8 11.9-4 18-10.5 55.5-2.3 99.5 23.9 114.6 27 15.6 72.4-.4 116.6-39.1 3.5-3.1 7-6.3 10.5-9.7 4.4 4.3 9 8.4 13.6 12.4 42.8 36.8 85.1 51.7 111.2 36.6 27-15.6 35.8-62.9 24.4-120.5-.9-4.4-1.9-8.9-3-13.5 3.2-.9 6.3-1.9 9.4-2.9 57.7-19.1 99.5-50 99.5-81.7 0-30.3-39.4-59.7-93.8-78.4z" />
              </svg>
              <div class="w-full text-lg font-semibold">Básica</div>
              <div class="w-full text-sm">Genera una contraseña formada únicamente por letras minúsculas.</div>
            </div>
          </label>
        </li>

        <!-- Intermediate option -->
        <li class="h-full">
          <input type="radio" id="intermediateOption" name="passwordType" value="intermediate" class="hidden peer" />
          <label for="intermediateOption"
            class="inline-flex items-center justify-between w-full p-5 h-full text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 peer-checked:text-gray-600 peer-checked:dark:text-gray-300">
            <div>
              <svg class="mb-2 text-green-400 w-7 h-7" fill="currentColor" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M356.9 64.3H280l-56 88.6-48-88.6H0L224 448 448 64.3h-91.1zm-301.2 32h53.8L224 294.5 338.4 96.3h53.8L224 384.5 55.7 96.3z" />
              </svg>
              <div class="w-full text-lg font-semibold">Intermedia</div>
              <div class="w-full text-sm">Genera una contraseña formada por mayúsculas, minúsculas y números.</div>
            </div>
          </label>
        </li>

        <!-- Advanced option -->
        <li class="h-full">
          <input type="radio" id="advancedOption" name="passwordType" value="advanced" class="hidden peer" />
          <label for="advancedOption"
            class="inline-flex items-center justify-between w-full p-5 h-full text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 peer-checked:text-gray-600 peer-checked:dark:text-gray-300">
            <div>
              <svg class="mb-2 text-red-600 w-7 h-7" fill="currentColor" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                  d="M185.7 268.1h76.2l-38.1-91.6-38.1 91.6zM223.8 32L16 106.4l31.8 275.7 176 97.9 176-97.9 31.8-275.7zM354 373.8h-48.6l-26.2-65.4H168.6l-26.2 65.4H93.7L223.8 81.5z" />
              </svg>
              <div class="w-full text-lg font-semibold">Avanzada</div>
              <div class="w-full text-sm">Genera una contraseña segura formada por mayúsculas, minúsculas, dígitos y
                símbolos especiales.</div>
            </div>
          </label>
        </li>
      </ul>
    </div>

    <!-- Footer -->
    <div class="mt-auto px-6 py-4 border-t border-gray-200 dark:border-gray-700">
      <button id="acceptPassword"
        class="w-full py-3 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg">
        Aceptar
      </button>
    </div>
  </form>
  <script type="module" src="../../renderers/passwordRenderer.js"></script>
</body>

</html>