<!DOCTYPE html>
<html lang="es" class="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' http://localhost:8080" />
  <title>Generar Contraseña</title>
  <link href="../css/style.css" rel="stylesheet" />
</head>

<body m-0 p-0 w-full h-full bg-transparent>
  <!-- Modal Form -->
  <form id="password-form"
    class="w-full max-w-[800px] h-full max-h-[600px] bg-[#202021] rounded-2xl shadow-xl overflow-auto flex flex-col mx-auto mt-10">

    <!-- Header -->
    <div class="flex items-center justify-between px-6 py-4 border-b border-gray-200 dark:border-gray-700">
      <h2 id="header" class="text-xl font-semibold text-gray-100">Generar contraseña</h2>
      <button type="button" id="close-modal"
        class=" bg-gray-700 bg-opacity-60 p-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 hover:bg-gray-600">
        <img class="w-7 h-7 text-gray-200 transition duration-75 group-hover:text-white transform rotate-45"
          src="../../resources/actions/add.webp"> 
      </button>
    </div>

    <!-- Content -->
    <div class="p-6 flex-1 grid grid-cols-1 w-full">
      <!-- Password Field -->
      <div class="col-span-2">
        <label for="inputPassword" class="block mb-2 text-sm font-medium text-gray-300">Contraseña</label>
        <div class="flex items-center">
          <input type="text" id="inputPassword" name="password" maxlength="40" disabled
            class="flex-1 p-3 border border-e-0 rounded-s-lg bg-gray-700 border-gray-600 text-gray-100" />
          <button type="button"
            class="h-full inline-flex items-center py-4 px-4 text-sm font-medium text-white bg-[#F97316] border border-[#F97316] hover:bg-[#EA580C] hover:border-[#EA580C] focus:ring-4 focus:outline-none focus:ring-orange-300 rounded-e-lg shadow-md transition-colors">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              viewBox="0 0 18 20">
              <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z" />
            </svg>
          </button>
        </div>
      </div>


      <div class="relative mb-10 mt-5">
        <label for="labels-range-input" class="sr-only">Rango</label>
        <input id="labels-range-input" type="range" value="12" min="8" max="40"
          class="w-full h-2 rounded-lg appearance-none cursor-pointer bg-gray-700 accent-orange-500">
        <span class="text-sm text-gray-400 absolute start-0 -bottom-6">8</span>
        <span class="text-sm text-gray-400 absolute end-0 -bottom-6">40</span>
      </div>

      <!-- Options -->
      <ul class="col-span-2 grid w-full gap-6 md:grid-cols-3 items-stretch">
        <!-- Basic option -->
        <li class="h-full">
          <input type="radio" id="basicOption" name="passwordType" value="basic" class="hidden peer" />
          <label for="basicOption"
            class="inline-flex items-start justify-between w-full p-5 h-full  border-2 rounded-lg cursor-pointer border-gray-700 peer-checked:border-orange-400 hover:text-gray-200 text-gray-400 bg-[#202021] hover:bg-[#151516] peer-checked:text-gray-300">
            <div>
              <div class="w-full text-lg font-semibold mb-3">Básica</div>
              <div class="w-full rounded-full h-2.5 mb-4 bg-gray-700">
                <div class="bg-red-600 h-2.5 rounded-full w-[33%]"></div>
              </div>
              <div class="w-full text-sm">Genera una contraseña formada únicamente por letras minúsculas.</div>
            </div>
          </label>
        </li>

        <!-- Intermediate option -->
        <li class="h-full">
          <input type="radio" id="intermediateOption" name="passwordType" value="intermediate" class="hidden peer" />
          <label for="intermediateOption"
            class="inline-flex items-start justify-between w-full p-5 h-full border-2 rounded-lg cursor-pointer border-gray-700 peer-checked:border-orange-400 hover:text-gray-200 text-gray-400 bg-[#202021] hover:bg-[#151516] peer-checked:text-gray-300">
            <div>
              <div class="w-full text-lg font-semibold mb-3">Intermedia</div>
              <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                <div class="bg-yellow-600 h-2.5 rounded-full w-[66%]"></div>
              </div>
              <div class="w-full text-sm">Genera una contraseña formada por mayúsculas, minúsculas y números.</div>
            </div>
          </label>
        </li>

        <!-- Advanced option -->
        <li class="h-full">
          <input type="radio" id="advancedOption" name="passwordType" value="advanced" class="hidden peer" />
          <label for="advancedOption"
            class="inline-flex items-start justify-between w-full p-5 h-full border-2 rounded-lg cursor-pointer border-gray-700 peer-checked:border-orange-400 hover:text-gray-200 text-gray-400 bg-[#202021] hover:bg-[#151516] peer-checked:text-gray-300">
            <div>
              <div class="w-full text-lg font-semibold mb-3">Avanzada</div>
              <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                <div class="bg-green-600 h-2.5 rounded-full w-[100%]"></div>
              </div>
              <div class="w-full text-sm">Genera una contraseña segura formada por mayúsculas, minúsculas, dígitos y
                símbolos especiales.</div>
            </div>
          </label>
        </li>
      </ul>
    </div>

    <!-- Footer -->
    <div class="mt-auto px-6 py-4 border-t border-gray-200 dark:border-gray-700">
      <button id="acceptPassword"
        class="w-full py-3 text-white bg-[#F97316] hover:bg-[#EA580C] focus:ring-4 focus:outline-none focus:ring-orange-500 font-medium rounded-lg shadow-md transition-colors">
        Aceptar
      </button>
    </div>
  </form>
  <script type="module" src="../../renderers/passwordRenderer.js"></script>
</body>

</html>